<nav>
  <div class="site-title">
    <a href="/"><h1>Techno Lib Blog</h1></a>
    <p></p>
  </div>
  <ul>
    <li><a href="/Blogs">Blogs</a></li>
    <li><a href="/createblog">New Blog</a></li>
    <!-- <li><a href="/backprofile">Back to Library</a></li> -->
  </ul>
</nav>