<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/pay.css">
    <title>Techno Lib</title>
</head>
<body>
    
    <div class="container">
        <div class="topright">
            <a href="/profile">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
            </a>
        </div>
    </div>
    
    <div class="grid-container">
        <div class="grid-item">
            <div class="card-container">
                <h1>Monthly Subscription</h1>
                <p class="card-info">Full flexibility and access to all our library!</p>
                <p class="price">&#8377;199</p>
                <p class="price-info">Recurring payment on monthly basis - cancel anytime!</p>
            
                <div class="sub-details">
                    <div class="sub-feature">
                        <div class="icon"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg></div>
                        <p class="sub-feature-text">Get full access of library</p>
                    </div>
            
                    <div class="sub-feature">
                        <div class="icon"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg></div>
                        <p class="sub-feature-text">Enjoy without Adds</p>
                    </div>
                </div>
            
                <div class="button-container">
                    <a class="button" href="/finalpay">buy now</a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card-container">
                <h1>Yearly Subscription</h1>
                <p class="card-info">Full flexibility and access to all our library!</p>
                <p class="price">&#8377;799</p>
                <p class="price-info">Recurring payment on yearly basis - cancel anytime!</p>
            
                <div class="sub-details">
                    <div class="sub-feature">
                        <div class="icon"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg></div>
                        <p class="sub-feature-text">Get full access of library</p>
                    </div>
            
                    <div class="sub-feature">
                        <div class="icon"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg></div>
                        <p class="sub-feature-text">Enjoy without Adds</p>
                    </div>
            
                </div>
            
                <div class="button-container">
                    <a class="button" href="/finalpay">buy now</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>